Source: dbxml
Section: database
Priority: optional
Maintainer: Cajus Pollmeier <cajus@debian.org>
Build-Depends: debhelper (>= 8.9.0~), autotools-dev, libtool, autoconf, automake, libdb++-dev (>= 4.8.26), libdb-dev (>= 4.8.26), libxqilla-dev (>= 2.2.3), libxerces-c-dev (>= 3.0.1), zlib1g-dev, python-dev (>= 2.6.6-3~), libperl-dev, php5-dev, tcl-dev, swig, chrpath
Standards-Version: 3.9.2
X-Python-Version: 2.7
Homepage: http://www.oracle.com/us/products/database/berkeley-db/index-066571.html

Package: libdbxml-2.5
Architecture: any
Multi-Arch: same
Section: libs
Priority: standard
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: dbxml-util, libdbxml-dev
Description: Oracle Berkeley DB XML libraries [runtime]
 Embedded native XML database library.
 .
 Runtime library for programs that use Berkeley DB XML databases.

Package: libdbxml-2.5-dbg
Architecture: any
Multi-Arch: same
Section: debug
Priority: extra
Depends: libdbxml-2.5 (= ${binary:Version}), ${misc:Depends}
Description: Oracle Berkeley DB XML libraries [debug]
 Embedded native XML database library.
 .
 Debug symbols for Berkeley DB XML database libraries and binaries.

Package: libdbxml-dev
Architecture: any
Section: libdevel
Priority: extra
Depends: libdbxml-2.5 (= ${binary:Version}), libdb-dev (>= 4.8.26), ${misc:Depends}
Suggests: dbxml-doc
Description: Oracle Berkeley DB XML libraries [development]
 Embedded native XML database library.
 .
 Headers and static libraries for the Berkeley DB XML library.

Package: dbxml-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Suggests: libdbxml-2.5
Description: Oracle Berkeley DB XML [HTML documentation]
 Embedded native XML database library.
 .
 API (C, C++, C#, Java, Perl, Tcl) and tool documentation.

Package: dbxml-util
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: db-util
Description: Oracle Berkeley DB XML utilities
 Embedded native XML database library.
 .
 Various tools for manipulating Berkeley DB XML database files.

Package: python-dbxml
Architecture: any
Section: python
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: Oracle Berkeley DB XML Python bindings
 Embedded native XML database library.
 .
 This package provides the Python DB XML bindings.

Package: libdbxml-perl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Section: perl
Description: Oracle Berkeley DB XML Perl bindings
 Embedded native XML database library.
 .
 This package provides the Perl DB XML bindings.

Package: libdbxml-tcl
Architecture: any
Section: interpreters
Priority: extra
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${tcl:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Oracle Berkeley DB XML Tcl/Tk bindings
 Embedded native XML database library.
 .
 This package provides Tcl/Tk DB XML bindings.

# Bindings:
# * java
# * php
