#!/usr/bin/make -f
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
UPSTREAM = http://download.oracle.com/berkeley-db
PACKAGE := $(shell dpkg-parsechangelog | sed -ne 's/^Source: \(.*\)$$/\1/p')
SRC_VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \(\([0-9]\+\):\)\?\(.*\)-.*/\3/p')
TARBALL = $(PACKAGE)_$(SRC_VERSION).orig.tar.gz

CONFIGURE_SWITCHES = --disable-rpath \
		     --with-berkeleydb=/usr \
		     --with-xqilla=/usr \
		     --with-xerces=/usr \
		     --with-zlib=/usr \
		     --enable-tcl \
		     --with-tcl=/usr/lib

.PHONY: get-orig-source
get-orig-source:
	rm -rf get-orig-source $(TARBALL)
	mkdir -p get-orig-source/tmp
	wget -O get-orig-source/$(PACKAGE)-$(SRC_VERSION).tar.gz $(UPSTREAM)/$(PACKAGE)-$(SRC_VERSION).tar.gz
	tar xfz get-orig-source/$(PACKAGE)-$(SRC_VERSION).tar.gz -C get-orig-source/tmp
	mv get-orig-source/tmp/$(PACKAGE)-$(SRC_VERSION)/dbxml get-orig-source/$(PACKAGE)-$(SRC_VERSION)
	GZIP='--best --no-name' tar czf $(TARBALL) -C get-orig-source --exclude build_windows $(PACKAGE)-$(SRC_VERSION)
	rm -rf get-orig-source
	echo "  "$(TARBALL)" created; move it to the right destination to build the package"


override_dh_auto_configure:
	aclocal
	libtoolize --force --copy --automake
	automake
	autoconf
	dh_auto_configure -- $(CONFIGURE_SWITCHES)
	
	# Disable rpath manually, because the built-in upstream mechanism
	# gets overwritten by config.status.
	sed -i 's/^hardcode_libdir_flag_spec.*$$'/'hardcode_libdir_flag_spec=" -D__LIBTOOL_NO_RPATH__ "/' libtool

override_dh_auto_build:
	dh_auto_build
	dh_auto_build --sourcedirectory=src/python -- --with-dbxml=$(CURDIR)
	dh_auto_configure --sourcedirectory=src/perl
	dh_auto_build --sourcedirectory=src/perl

override_dh_strip:
	dh_strip -s --dbg-package=libdbxml-2.5-dbg

override_dh_auto_install:
	dh_auto_install
	
	# Install bindings to their target destination
	dh_auto_install --sourcedirectory=src/python
	dh_auto_install --sourcedirectory=src/perl
	
	# Remove rpath from bindings
	find debian -name DbXml.so -o -name _dbxml.so | xargs chrpath -d
	
	tcltk-depends

%:
	dh  $@ --with python2
